{
  "irc": {
    "server": "chat.freenode.net",
    "port": 6697,
    "ssl": {
      "use": true
    },
    "nick": "hookbot",
    "user": "hookbot",
    "password": null,
    "channels": [
      "#example"
    ]
  },
  "exclude": {
    "issues": [ "labeled", "unlabeled" ],
    "pull_request": [ "labeled", "unlabeled"]
  },
  "github": {
    "secret": "moo",
    "repo": "username/reponame",
    "token": "..."
  }
}
